torch
torchvision
torchaudio
setuptools
--extra-index-url https://download.pytorch.org/whl/cu126

numpy
scipy
matplotlib
tqdm
scikit-learn
scipy
pandas
pretty-midi
tables
pytest
click
pyyaml
tqdm
matplotlib
hdbscan
umap-learn
sentence-transformers